body {
    font-family: "Poppins", sans-serif;
    margin: 0px;
}

.footer-cryon {
    font-size: 16px;
    color: white;
    font-weight: 700;
    padding: 20px 0px 20px 0px;
    background-color: #181727;
    margin-bottom: 20px;
}